@using MudBlazor
@typeparam T

@if (_isFocused && AddNewRoute is not null)
{
	<MudHotkey Key="JsKey.F12" OnHotkeyPressed="NavigateToAddNew" />
}

<div class="cnf-root" @onfocusin="OnFocusIn" @onfocusout="OnFocusOut">
	<MudNumericField T="T"
					 @ref="_numericField"
					 Value="Value"
					 ValueChanged="OnValueChangedInternal"
					 Label="@Label"
					 Placeholder="@Placeholder"
					 Required="@Required"
					 RequiredError=""
					 ErrorText=""
					 ReadOnly="@ReadOnly"
					 Class="@(ReadOnly ? "cnf-readonly" : null)"
					 @attributes="_rangeAttributes"
					 Format="@Format"
					 Culture="@Culture"
					 HideSpinButtons="@HideSpinButtons"
					 Tabindex="@TabIndex"
					 Immediate="@Immediate"
					 Clearable="!Required && !ReadOnly"
					 Margin="MudBlazor.Margin.Dense"
					 Variant="MudBlazor.Variant.Outlined"
					 Adornment="@(ShowAddNew ? Adornment.End : Adornment.None)"
					 AdornmentIcon="@(ShowAddNew ? Icons.Material.Filled.Add : null)"
					 AdornmentColor="Color.Primary"
					 IconSize="Size.Small"
					 OnAdornmentClick="NavigateToAddNew" />
</div>
