@using MudBlazor

<div class="ctf-root" @onfocusin="OnFocusIn" @onfocusout="OnFocusOut">
	<MudTextField T="string"
				  @ref="_textField"
				  Value="Value"
				  ValueChanged="OnValueChangedInternal"
				  Label="@Label"
				  Placeholder="@Placeholder"
				  Required="@Required"
				  RequiredError=""
				  ErrorText=""
				  ReadOnly="@ReadOnly"
				  InputType="@InputType"
				  Class="@(ReadOnly ? "ctf-readonly" : null)"
				  Lines="@Lines"
				  Sizing="@(Lines > 1 ? InputSizing.Auto : InputSizing.Fixed)"
				  MaxLines="@(Lines > 1 ? MaxLines : 0)"
				  MaxLength="@MaxLength"
				  Tabindex="@TabIndex"
				  Immediate="true"
				  Clearable="!Required && !ReadOnly"
				  Adornment="@(string.IsNullOrEmpty(AdornmentIcon) ? Adornment.None : Adornment.End)"
				  AdornmentIcon="@AdornmentIcon"
				  AdornmentColor="Color.Primary"
				  OnAdornmentClick="OnAdornmentClick"
				  AdornmentAriaLabel="@AdornmentAriaLabel"
				  Margin="MudBlazor.Margin.Dense"
				  Variant="MudBlazor.Variant.Outlined"
				  IconSize="Size.Small" />
</div>
